body {
  background-color: #232323;
}

div {
  color:aliceblue;
}

.Scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid #FB0000;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.Team1 {
  padding-top: 2%;
  padding-bottom: 3%;
  width: 30%;
  font-size: x-large;
  text-align: right;
}

.Score {
  padding-top: 2%;
  width: 40%;
  font-size: x-large;
  text-align: center;
}

.Team2 {
  padding-top: 2%;
  padding-bottom: 3%;
  width: 30%;
  font-size: x-large;
}

.line {
  color: #FB0000;
}

.logstats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.log {
  width: 83%;
  border: solid #FB0000;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  text-align: center;
}

.stats {
  width: 17%;
  text-align: center;
  font-size: small;
}

.time {
  font-size: medium;
}

.Action {
  padding-top: 39%;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  /*width: 60px;
  height: 40px;*/
  position: relative;
  width: 4.5vw;
  height: 4.5vh;
  border: 1px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.circle {
  font-size: large;
}

.team1.CRadolno {
  background: url('./Teams/Team1/Cruelles/C.Radolno.png') no-repeat center center;
  background-size: 60%;
}

.team1.Art {
  background: url('./Teams/Team1/Cruelles/Art.png') no-repeat center center;
  background-size: 60%;
}

.team1.VonMeerSalz {
  background: url('./Teams/Team1/Cruelles/VonMeerSalz.png') no-repeat center center;
  background-size: 60%;
}

.team1.VanBindelrooy {
  background: url('./Teams/Team1/Cruelles/VanBindelrooy.png') no-repeat center center;
  background-size: 60%;
}

.team1.Romeny {
  background: url('./Teams/Team1/Cruelles/Romeny.png') no-repeat center center;
  background-size: 60%;
}

.team1.Keens {
  background: url('./Teams/Team1/Cruelles/Keens.png') no-repeat center center;
  background-size: 60%;
}

.team1.Shovels {
  background: url('./Teams/Team1/Cruelles/Shovels.png') no-repeat center center;
  background-size: 60%;
}

.team1.Bronze {
  background: url('./Teams/Team1/Cruelles/Bronze.png') no-repeat center center;
  background-size: 60%;
}

.team1.Silberves {
  background: url('./Teams/Team1/Cruelles/Silberves.png') no-repeat center center;
  background-size: 60%;
}

.team1.Fremant {
  background: url('./Teams/Team1/Cruelles/Fremant.png') no-repeat center center;
  background-size: 60%;
}

.team1.Hentz {
  background: url('./Teams/Team1/Cruelles/Hents.png') no-repeat center center;
  background-size: 60%;
}

.team2.Ziderm {
  background: url('./Teams/Team2/Coronas/Ziderm.png') no-repeat center center;
  background-size: 60%;
}

.team2.Rasmoz {
  background: url('./Teams/Team2/Coronas/Rasmoz.png') no-repeat center center;
  background-size: 60%;
}

.team2.Marsillas {
  background: url('./Teams/Team2/Coronas/Marsillas.png') no-repeat center center;
  background-size: 60%;
}

.team2.Radolno {
  background: url('./Teams/Team2/Coronas/Radolno.png') no-repeat center center;
  background-size: 60%;
}

.team2.Boomwhale {
  background: url('./Teams/Team2/Coronas/Boomwhale.png') no-repeat center center;
  background-size: 60%;
}

.team2.Santiago {
  background: url('./Teams/Team2/Coronas/Santiago.png') no-repeat center center;
  background-size: 60%;
}

.team2.Larcos {
  background: url('./Teams/Team2/Coronas/Larcos.png') no-repeat center center;
  background-size: 60%;
}

.team2.Yuti {
  background: url('./Teams/Team2/Coronas/Yuti.png') no-repeat center center;
  background-size: 60%;
}

.team2.Gammelsen {
  background: url('./Teams/Team2/Coronas/Gammelsen.png') no-repeat center center;
  background-size: 60%;
}

.team2.Backpam {
  background: url('./Teams/Team2/Coronas/Backpam.png') no-repeat center center;
  background-size: 60%;
}

.team2.Rajol {
  background: url('./Teams/Team2/Coronas/Rajol.png') no-repeat center center;
  background-size: 60%;
}

.available {
  background-color: white;
}

.ball {
  position: absolute;
  width: 60%;
  height: 60%;
  background: url('./Ball/Ball.png') no-repeat center center;
  transform: translate(-50%, -50%);
  background-size: contain;
}

.custom-content {
  color: white;
  font-size: 14px; 
  font-weight: bold; 
  background-color: green;
}

.attack {
  background-color: green;
  height: 10px;
  border: 1px solid green;
}

.midfield {
  background-color: yellow;
  border: 1px solid yellow;
  height: 10px;
}

.defence {
  background-color: red;
  border: 1px solid red;
  height: 10px;
}

.centerfield {
  background-color: white;
  border: 1px solid white;
  height: 10px;
}

.corners {
  background-color: #000;
  border: 1px solid #000;
  height: 10px;
}

.bounds {
  background-color: #000;
}

.bottomrightborder{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.rightborder {
  border-right: 1px solid white;
}

.bottomborder {
  border-bottom: 1px solid white;
}

.topleftborder {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.toprightborder {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.bottomleftborder {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.circle.passing {
  background-color: yellow;
}

.circle.tackling {
  background-color: red;
}

.circle.dribbling {
  background-color: blue;
}

.shooting {
  background-color: green;
}

.disable {
  opacity: 25%;
}

.circle.tractor {
  background-color: grey;
}

.circle.gm {
  background-color: blueviolet;
}

.skills {
  width: 1%;
  height: 1%;
}

.skillsPitch {
  width: 10%;
  height: 10%;
}

.whiteLock {
  background-color: aliceblue;
}

.blackLock {
  background-color: black;
}

.locks {
  background-color: aquamarine;
  opacity: 40%;
}

.rules {
  background-color: black;
  opacity: 85%;
  font-size: 12px;
}

.popup {
  position: absolute;
  width: 400%;
  height: 400%;
  top: -25vh; /* Adjust the value based on your preference */
  background-color: black;
  opacity: 85%;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}